@media (max-width: 1024px) {
  .app-container {
    grid-template-columns: 100%;
    padding: 20px;
    grid-column-gap: 0px;
    grid-row-gap: 40px;
  }

  .navbar-container {
    flex-direction: column;
  }

  .navbar-container > img {
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .showcase-container {
    justify-content: center;
    padding-left: 10px;
    padding-right: 0px;
    margin-top: 10px;
  }

  .showcase-container .showcase-text > h2:first-child {
    font-size: 2.1rem;
  }

  .showcase-container .showcase-text > h2:last-child {
    font-size: 2.5rem;
  }

  .showcase-container .showcase-text > p {
    margin-bottom: 10px;
    font-size: 0.825rem;
  }

  .showcase-container > img {
    width: 170px;
  }

  .hourly-forecast-container {
    padding: 20px;
    overflow-x: scroll;
    gap: 30px;
  }

  .hourly-forecast-container .hour-weather-item > img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
  }

  .hourly-forecast-container .hour-weather-item > p:first-child {
    font-size: 0.825rem;
    text-align: center;
  }

  .hourly-forecast-container .hour-weather-item > p:last-child {
    font-size: 1.5rem;
  }

  .weather-details-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }

  .weather-details-container .weather-details-item {
    padding: 25px;
    min-height: 135px;
  }

  .weather-details-container .weather-details-item > p:first-child {
    font-size: 0.825rem;
    margin-bottom: 10px;
  }

  .weather-details-container .weather-details-item > div > p {
    font-size: 1.5rem;
  }

  .weather-details-container .weather-details-item > div > span {
    font-size: 0.75rem;
  }

  .weekly-forecast-container .day-weather-item > p {
    font-size: 0.925rem;
  }

  .weekly-forecast-container .day-weather-item > div > p:first-child {
    font-size: 0.875rem;
  }

  .weekly-forecast-container .day-weather-item > div > p:last-child {
    font-size: 0.8rem;
  }

  .weekly-forecast-container {
    width: 350px;
  }
}
